$primary: #586da7;
$primary-light: #7d90c4;
$primary-dark: #344a90;

$secondary: #f5a336;
$secondary-light: #fdb55d;
$secondary-dark: #fd8810;

$danger: #F64F77;
$danger-light: #FC6F91;
$danger-dark: #DE3961;

$success: #4BB543;
$success-light: #93ee8d;
$success-dark: #22801c;

$warning: #F8AE3F;
$warning-light: #FFD569;
$warning-dark: #F49F1F;

$title-text: #000;
$primary-text: #262626;
$secondary-text: #acacac;

$gray01: #34323E;
$gray02: #4E4B59;
$gray03: #5F5C6B;
$gray04: #7A7786;
$gray05: #8C8A97;

$light-default: #fff;